In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
727,tt1502404,50000000,28931401,Drive Angry,Nicolas Cage|Amber Heard|William Fichtner|Bill...,Patrick Lussier,One hell of a ride.,Milton is a hardened felon who has broken out ...,105,Fantasy|Thriller|Action|Crime,Summit Entertainment|Saturn Films|Nu Image Fil...,2/24/2011,5.3,2011
165,tt3442006,7000000,2360281,Cake,Jennifer Aniston|Anna Kendrick|William H. Macy...,Daniel Barnz,Forgiveness is a bitter pill to swallow.,After having visions of a member of her suppor...,102,Drama,Echo Films|We're Not Brothers Productions|Cine...,9/7/2014,6.1,2014
1286,tt0882977,35000000,42930462,Snitch,Dwayne Johnson|Barry Pepper|Jon Bernthal|Susan...,Ric Roman Waugh,How far would you go to save your son?,Construction company owner John Matthews learn...,112,Thriller|Drama,Front Street Productions|Participant Media|Ima...,2/21/2013,5.7,2013
220,tt1371150,19800000,41296320,This Is Where I Leave You,Jason Bateman|Tina Fey|Adam Driver|Rose Byrne|...,Shawn Levy,Welcome Home. Get Uncomfortable.,"When their father passes away, four grown, wor...",103,Drama|Comedy,Spring Creek Productions|21 Laps Entertainment...,9/10/2014,6.5,2014
1015,tt1276104,30000000,47042000,Looper,Joseph Gordon-Levitt|Bruce Willis|Emily Blunt|...,Rian Johnson,"Hunted By Your Future, Haunted By Your Past","In the futuristic action thriller Looper, time...",118,Action|Thriller|Science Fiction,Endgame Entertainment|FilmDistrict|DMG Enterta...,9/26/2012,6.5,2012

In [10]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [11]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget # добавляем колонку с прибыльностью фильмов
data['release_date'] = pd.to_datetime(data['release_date']) # преобразовываем в формат даты

# ...

# 1. У какого фильма из списка самый большой бюджет?

In [12]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [13]:
data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [14]:
data[data['budget'] == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [15]:
answers['2'] = '1157. Gods and Generals (tt0279111)' # +

In [16]:
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [17]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' # +

In [18]:
data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [19]:
answers['4'] = '110' # +

In [20]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [21]:
answers['5'] = '107' # +

In [22]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [23]:
answers['6'] = '239. Avatar (tt0499549)' # +

In [24]:
data[data['profit'] == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [25]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' # +

In [26]:
data[data['profit'] == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [27]:
answers['8'] = '1478' # +

In [28]:
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [29]:
answers['9'] = '599. The Dark Knight (tt0468569)' # +

In [30]:
data_2008 = data.query('release_year == 2008') # создаем новый датасет за 2008 год
data_2008[data_2008['revenue'] == data_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [31]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' # +

In [32]:
# реализация через группировку и фильтрацию
data[(data.release_year<=2014) 
     & (data.release_year>=2012)].groupby(['original_title'])['profit'].min().sort_values()

original_title
The Lone Ranger                    -165710090
R.I.P.D.                            -68351500
Upside Down                         -51893525
Legends of Oz: Dorothy's Return     -51337973
Bullet to the Head                  -45510171
                                      ...
Despicable Me 2                     894761885
Skyfall                             908561013
Iron Man 3                         1015439994
Frozen                             1124219009
The Avengers                       1299557910
Name: profit, Length: 367, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [33]:
answers['11'] = 'Drama' # +

In [34]:
data.genres.str.split('|').explode().value_counts() # общий подсчет всех жанров с помощью пандас

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [35]:
Counter(data.genres.str.split('|').explode()).most_common(1) # вывод самой популярной пары жанр-количество с помощью коллекций

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
answers['12'] = 'Drama' # +

In [37]:
Counter(data[data['profit'] > 0].genres.str.split('|').explode()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
answers['13'] = 'Peter Jackson' # +

In [39]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
answers['14'] = 'Robert Rodriguez' # +

In [41]:
# ищем в строках столбца жанр, дробим строки с режисерами на отдельные и подставляем в тот же столбец
data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
answers['15'] = 'Chris Hemsworth' # +

In [43]:
# создаем фрейм отфильтрованный по году,
# затем разбиваем списки актеров по одному в новом столбце,
# группируем и считаем сборы по каждому актеру
data2 = data[(data.release_year==2012)].copy()
data2['actors'] = data2.cast.str.split('|')
data2.explode('actors').groupby(['actors'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
answers['16'] = 'Matt Damon' # +

In [45]:
data[data['budget']>data.budget.mean()].cast.str.split('|').explode().value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
answers['17'] = 'Action' # +

In [47]:
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [48]:
answers['18'] = 'K-19: The Widowmaker' # +

In [49]:
data[data.production_companies.str.contains('Paramount Pictures')].groupby(['original_title'])['profit'].min().sort_values()

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [50]:
answers['19'] = '2015' # +

In [51]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
answers['20'] = '2014' # +

In [53]:
data[data.production_companies.str.contains('Warner Bros')]\
.groupby(['release_year'])['profit']\
.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
answers['21'] = 'Сентябрь' # +

In [55]:
# создаем новый датафрейм, в дате релиза оставляем только месяц и считаем по месяцам фильмы
data3 = data.copy()
data3['release_date'] = data3.release_date.dt.month
data3.groupby(['release_date'])['original_title'].count().sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [56]:
answers['22'] = '450' # +

In [57]:
# Используем ранее созданный фрейм и задаем диапазон месяцев за все года
data3[(data3.release_date>=6)
      & (data3.release_date<=8)].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [58]:
answers['23'] = 'Peter Jackson' # +

In [59]:
# используем фрейм с датами приведенными к месяцам
# считаем количество фильмов за три месяца зимы, разбив по режиссерам
data3[(data3.release_date==12)
      | (data3.release_date==1)
      | (data3.release_date==2)].director.str.split('|').explode().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [60]:
answers['24'] = 'Four By Two Productions' # +

In [61]:
# создаем новый фрейм копируя основной,
# в новом столбце записываем длину названия фильма
# разбиваем по студиям и считаем среднюю длину названия у каждой
data4 = data.copy()
data4['title_length'] = data4.original_title.map(lambda x: len(x))
data4['production_companies'] = data4.production_companies.str.split('|')
data4.explode('production_companies').groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [62]:
answers['25'] = 'Midnight Picture Show' # +

In [63]:
# используем ранее созданный фрейм data4,
# в новом столбце записываем количество слов из описания
# разбиваем по студиям и считаем среднее количество слов по студиям
data4['overview_words'] = data4.overview.str.split().map(lambda x: len(x))
data4.explode('production_companies').groupby(['production_companies'])['overview_words'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [65]:
best_films = data.vote_average.sort_values(ascending=False).index[:19]
data.iloc[best_films]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,2009-09-11,7.8,2009,-43452791
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,2007-12-28,7.8,2007,51181545
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,847287400
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,2014-11-26,7.8,2014,106201940
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,2004-03-19,7.8,2004,52258126

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = 'Daniel Radcliffe, Emma Watson' # +

In [67]:
# создаем фрейм и в нем разделяем актеров, для каждого фильма собираем пары
# преобразуем список в серию и считаем
for_double = data.copy()
pairs = []
for_double['cast'] = for_double.cast.str.split('|')
for actor in for_double.cast:
    pairs.extend(combinations(actor, 2))
pairs = pd.Series(pairs).value_counts()
pairs

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(James Gandolfini, Delroy Lindo)       1
(Bailee Madison, Jack Thompson)        1
(Raini Rodriguez, Neal McDonough)      1
(Harrison Ford, Hailee Steinfeld)      1
(Michael Douglas, Eva Longoria)        1
Length: 18121, dtype: int64

ВАРИАНТ 2

In [69]:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Emma Watson'}